* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 80%;
  width: 90%;
  background-color: white;
  border: solid 2px red;
}

h1 {
  height: 70px;
  margin: 30px 10px;
  border: solid 2px red;
  padding: 10px;
  /* background-color: gray; */
}

.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 30px 10px;
  border: solid 2px red;
  padding: 10px;
  /* background-color: gray; */
}
.list {
  border: solid 2px red;
  margin: 10px;
}

ul {
  padding: 9px;
  border: solid 2px red;
  margin: 10px;
}

li {
  border: solid 2px red;
  padding: 10px;
}

button {
  border: solid 2px red;
  margin: 10px;
  padding: 10px;
}

a {
  border: solid 2px red;
  margin: 10px;
  padding: 10px;
}

.footer {
  width: 100%;
  display: flex;
  margin: 10px;
  padding: 10px;
}

hr{
    margin: 0;
    
}