*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

#shadow{
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    
}

#heading{
    height: 20%;
    display: flex;
}

#logo{
 width: 40%;
 display: flex;
 justify-content: center;
 padding: 30px;
}

#buttons{
     padding: 30px;
    width: 60%;
    text-align: right;
}

.singin{
    background-color: red;
    padding: 8px 15px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}

#content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    
    
}

h1{
    font-size: 55px;
}

.p1{
    font-size: 28px;
}

.p2{
    font-size: 23px;
}
p{
    margin: 13px;
    font-weight: 400;
}